mixin range-slider(opts)
  .range-slider
    .range-slider__row
      .range-slider__title.type-h3= opts.title
      .range-slider__values
    .js-nouislider-plugin

//- +range-slider({
//-   title: "range"
//- })