extends ../../assets/main.pug


block variables
	- var title = 'BLOCK';
	- var description = 'Description for BLOCK';
	//- - var pageClass = 'show-sidebar';
	
block content
	main.main
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug
		//- include ./modules/module/module.pug

	//- block script
	//- 	script(type='text/javascript').
	//- 		const foo = true;
	//- 		let num = 15;
	//- 		let bar = function(a) {return a-5};
	//- 		if (foo) 
	//- 			bar(num)
	//- 			console.log("xxxx",num,bar(num))